.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 40%;
  }

.square {
    height: 100px;
    width: 100px;
    background-color: rgb(0, 51, 161);
    position: absolute;
    top: 50%;
    left: 60%;
  }